body {
  margin: 0;
  padding: 0;
  background: url("vendor/media/course-3.jpg") no-repeat;
  background-size: cover;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}
.img-box {
  height: 150px;
}